<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="never">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/less/main.css">
	<!-- <link rel="stylesheet" href="./public/less/main.less">
	<script src="./public/libs/less.js"></script> -->
	<script src="./libs/angular.min.js"></script>
	<script src="./libs/bower_components/angular-route/angular-route.js"></script>
	<!-- angularJS 入口 -->
	<script src="./scripts/app_copy.js"></script>
	<!-- 引入控制器模块 -->
	<script src="./scripts/controller_copy.js"></script>
</head>

<body ng-app="Yike">
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse: collapsed}" ng-controller="NavController">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png">
					</div>
					<span>登录</span>
				</dt>
				<!-- <dd class="active">
					<a href="" class="icon-home">
						<span>今日一刻</span>
					</a>
				</dd>
				<dd class="active">
					<a href="" class="icon-file-empty">
						<span>往期内容</span>
					</a>
				</dd>
				<dd class="active">
					<a href="" class="icon-pencil">
						<span>热门作者</span>
					</a>
				</dd>
				<dd class="active">
					<a href="" class="icon-menu">
						<span>栏目浏览</span>
					</a>
				</dd>
				<dd class="active">
					<a href="" class="icon-heart">
						<span>我的喜欢</span>
					</a>
				</dd>
				<dd class="active">
					<a href="" class="icon-cog">
						<span>设置</span>
					</a>
				</dd> -->
				<dd ng-class="active" ng-repeat="(key, nav) in navs" ng-click="toggle()">
					<a href="{{nav.link}}" class="{{nav.icon}}">
						<span>{{nav.text}}</span>
					</a>
				</dd> 
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true, collapse: collapsed}">
				<a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
				<h2>今日一刻</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse: collapsed}">
					<img class="loading" loading ng-hide="loaded" src="./public/images/loading.gif"></img>
					<!-- 占位符 -->
					<div ng-view></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>